* {
  background-color: #212529;
}

body {
  background-color: #212529;
}

/* Style the button and place it in the middle of the container/image */

.logo-class {
  width: 35%;
}

.logo-img {
  display: block;
  width: 50%;
  height: auto;
  /* border-radius: 8px; */
  margin-left: 25%;
  /* padding: 30px; */
}

hr {
  margin: 1rem 0;
  color: inherit;
  background-color: white;
  border: 0;
  opacity: 0.25;
}

.winner-img {
  width: 200px;
  height: 300px;
  object-fit: contain;
}

.title-class {
  color: white;
  font: bold 15px/20px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.26);
  padding: 10px;
  position: relative;
}

/* masonry related styles */

/* * {
  box-sizing: border-box;
} */

.masonry-container {
  margin: 40px auto;
  padding: 0 24px;
  width: 100%;
}

.masonry-grid {
  column-width: 296px;
  column-gap: 24px;
}

.masonry-img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Placeholder divs to prevent page jumping */
.masonry-cell {
  position: relative;
  margin-bottom: 24px;
  height: 0;
  overflow: hidden;
  background: #eee;
  break-inside: avoid;
  border-radius: 8px;
}

.masonry-cell img {
  position: absolute;
  top: 0;
  left: 0;
}

.ratio1x1 {
  padding-bottom: 100%;
}
.ratio3x4 {
  padding-bottom: 133.33%;
}
.ratio4x3 {
  padding-bottom: 75%;
}
.ratio16x9 {
  padding-bottom: 56.25%;
}
.ratio9x16 {
  padding-bottom: 177.77%;
}
